slack_signing_secret = bf3a25a2753adc16a27d02c0894e748f
slack_bot_token = xoxb-1037685824519-1028785981763-OKF297psbGniXHw0hVpSpRK3
slack_events_adapter_url_extension = /slack/events
channel = C0153F4A5MJ
report_header = Querry Classification Summary Report
port_number = 5000
channel_report = C014GHHAQ6T
MachineName = http://d923f2a0.ngrok.io
app_name = tub