<!DOCTYPE html>
<html lang="en">
<head>
  <title>World population</title>
  <script src={{ url_for('static', filename='scripts/Chart.js') }}></script>

<!--  <script src="C:/Users/manis/PycharmProjects/ReportingTub/templates/chart.js/dist/Chart.js"></script>-->
<!--   <link rel="stylesheet" type="text/css" href="style.css"> -->


</head>

  <h1>my nam is khan</h1>
  
	<div>	<canvas id="pie-chart" width="120" height="500"></canvas></div>

<body>

</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src={{ url_for('static', filename='scripts/jsfile.js') }}></script>
</html>